# <%= index.name %> (<%= index.count %> terms)
<% _.forEach(terms, function(term, slug) { %>
<h4 dir="<%= dir %>"><%= term.title %> : <code><%= slug %></code></h4>
<div dir="<%= dir %>"><%= term.text %></div>
<% }); %>
